@import "bootstrap";

.navbar {

    background-color: black !important;
    
    }

.nav-link {
    color: white !important;

    }
    
#logo {
    float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
   
#home-container{
    margin-top: 25px;
}
    
#bg-light-background {
    background-image: url('/assets/jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 625px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
